@import "@/app/styles";

.GlobalSearchResults {
  &-Header {
    background-color: $color-night;
    padding: 8px 16px;
  }

  &-List {
  }

  &-ListItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    &:hover {
      background-color: $color-gray;
      cursor: pointer;
    }

    &__isChecked {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary;
        cursor: default;
      }
    }
  }

  &-Avatar {
    margin-right: 16px;
  }

  &-Join {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
