@import "@/app/styles";

.ChatBody {
  background-image: url("/assets/images/chat-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}
