@import "@/app/styles";

.ChatBody {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("/assets/images/chat-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
}
