$color-primary: rgba(103, 73, 199, 1); /* #865dff */
$color-primary-hover: rgba(73, 53, 136, 1); /* #190721 */

$color-blue: rgba(48, 30, 132, 1); /* #301e84 */

$color-pink: rgba(255, 163, 254, 1); /* #ffa3fd */

$color-white: rgba(255, 254, 253, 1); /* #fff */
$color-pearl-white: rgba(245, 245, 245, 1); /* #f5f5f5 */

$color-silver-gray: rgba(191, 191, 191, 1); /* #bfbfbf */
$color-gray: rgba(62, 59, 80, 1); /* #3e3b50 */

$color-night: rgba(16, 15, 26, 1); /* #100f1a */
$color-dark: rgba(26, 24, 37, 1); /* #1a1825 */

$color-purple: rgba(25, 7, 33, 1); /* #190721 */
