//$color-primary: rgba(23, 222, 167, 1); /* #17dea7 */
//$color-secondary: rgba(16, 177, 183, 1); /* #10b1b7 */
$color-primary: rgb(103, 73, 199); /* #865dff */
$color-primary-hover: rgb(73, 53, 136); /* #190721 */

$color-white: rgba(255, 254, 253, 1); /* #fff */
$color-pearl-white: rgba(245, 245, 245, 1); /* #f5f5f5 */

$color-silver-gray: rgba(191, 191, 191, 1); /* #bfbfbf */

$color-night: rgba(16, 15, 26, 1); /* #100f1a */
$color-dark: rgba(26, 24, 37, 1); /* #1a1825 */

$color-purple: rgba(25, 7, 33, 1); /* #190721 */
