$color-primary: rgba(103, 73, 199, 1); /* #865dff */
$color-primary-hover: rgba(73, 53, 136, 1); /* #190721 */
$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-pink: rgba(255, 163, 254, 1); /* #ffa3fd */
$color-purple: rgba(25, 7, 33, 1); /* #190721 */
$color-gray: rgba(62, 59, 80, 1); /* #3e3b50 */
$color-night: rgba(16, 15, 26, 1); /* #100f1a */
$color-dark: rgba(26, 24, 37, 1); /* #1a1825 */
$color-darkness: rgba(31, 32, 41, 1); /* #1f2029 */
$color-lighting: rgba(138, 143, 160, 1); /* #8a8fa0 */
$color-white: rgba(255, 254, 253, 1); /* #fff */
