@import "@/app/styles";

.ChatPanel {
  background: linear-gradient(to right, $color-purple, $color-primary);
  border-top-right-radius: $border-layout;
  border-bottom-right-radius: $border-layout;
  max-width: 100%;
  width: 100%;
}
